<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EventMaker</title>
    <link rel="stylesheet" th:href="@{/eventMakerAssets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/eventMakerAssets/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/eventMakerAssets/css/styles.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap" />
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md bg-dark bg-gradient py-3"
            style="background: rgb(0, 0, 0); color: var(--bs-white); opacity: 0.96">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="/games"
                    style="color: rgba(255, 255, 255, 0.9)"><span
                    style="font-size: 28px; font-family: 'Alfa Slab One', serif">ScoreDEI</span></a><button
                    data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
                    <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-2">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul>
                    <a sec:authorize="isAuthenticated()">
                        <a>Hello, </a>
                        <a sec:authentication="name"></a>
                        <a class="btn btn-light ms-md-2 logout-button" role="button">Logout</a>
                        <form hidden="true" name="logout" th:action="@{/logout}" method="post"></form>
                    </a>
                    <a class="btn btn-light ms-md-2" role="button" th:href="@{/login}"
                        sec:authorize="!isAuthenticated()">Login</a>
                    <a class="btn btn-light ms-md-2" role="button" href="/signup"
                        sec:authorize="!isAuthenticated()">Sign Up</a>
                </div>
            </div>
        </nav>
    <section class="login-dark">
        <form th:action="@{'/games/' + ${gameId} + '/addEvent'}" th:object="${dataForm}" method="post"
            style="color: var(--bs-blue);opacity: 0.95;">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration" style="color: var(--bs-blue);border-color: var(--bs-blue);"><img
                    th:src="@{/eventMakerAssets/img/ball.jpg}" style="width: 194px;"></div>
            <div class="mb-3">
                <div class="dropdown">
                    <label class="alert alert-danger" role="alert" hidden="true" id="noPlayer" style="font-size: 12px; position: fixed; transform: translateX(120px); width: 130px; height: auto;">Selected event doesn't take a player!</label>
                    <label class="alert alert-danger" role="alert" hidden="true" id="missignData" style="font-size: 12px; position: fixed; transform: translateX(120px) translateY(20px);">Select a Player!</label>
                    <label class="alert alert-danger" role="alert" hidden="true" id="emptyForm" style="font-size: 12px; position: fixed; transform: translateX(120px) translateY(20px);">Select an Event!</label>
                    <button class="btn btn-outline-primary btn-sm dropdown-toggle event-type" aria-expanded="false"
                        data-bs-toggle="dropdown" type="button">
                        Event
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="changeButtonText('Start Game', 'event-type')">Start Game</a>
                        <a class="dropdown-item" onclick="changeButtonText('End Game', 'event-type')">End Game</a>
                        <a class="dropdown-item" onclick="changeButtonText('Yellow Card', 'event-type')">Yellow Card</a>
                        <a class="dropdown-item" onclick="changeButtonText('Red Card', 'event-type')">Red Card</a>
                        <a class="dropdown-item" onclick="changeButtonText('Goal', 'event-type')">Goal</a>
                        <a class="dropdown-item" onclick="changeButtonText('Resume Game', 'event-type')">Resume Game</a>
                        <a class="dropdown-item" onclick="changeButtonText('Stop Game', 'event-type')">Stop Game</a>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="dropdown">
                    <button class="btn btn-outline-primary btn-sm dropdown-toggle player" aria-expanded="false"
                        data-bs-toggle="dropdown" type="button">
                        Player
                    </button>
                    <div class="dropdown-menu">
                        <div th:each="player : ${listPlayers}">
                            <a class="dropdown-item" th:text="${player.playerName}"
                                th:data-playerName="${player.playerName}" th:data-playerId="${player.id}"
                                th:onclick="changeButtonText(this.getAttribute('data-playerName'), 'player', this.getAttribute('data-playerId'))"></a>
                        </div>
                    </div>
                </div>
            </div>
            <input class="hidden-event" type="hidden" th:field="*{homeTeam}" />
            <input class="hidden-player" type="hidden" th:field="*{awayTeam}" />
            <div><input class="btn btn-primary d-block w-100" type="submit" value="Submit" /></div>
        </form>
    </section>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('invalidForm')) {
            document.querySelector('#missignData').hidden = false;
        }

        if (urlParams.has('emptyForm')) {
            document.querySelector('#emptyForm').hidden = false;
        }

        if (urlParams.has('noPlayer')) {
            document.querySelector('#noPlayer').hidden = false;
        }

        function changeButtonText(text, targetClass, id) {
            document.querySelector(`.${targetClass}`).textContent = text
            if (targetClass === 'player') {
                document.querySelector('.hidden-player').value = id
            } else if (targetClass === 'event-type') {
                document.querySelector('.hidden-event').value = text
            }
        }
        document.querySelector(".logout-button").addEventListener("click", () => {
            form = document.forms.logout
            form.submit();
        })
    </script>
    
    <script th:src="@{/eventMakerAssets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>