<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>ManageGames</title>
  <link rel="stylesheet" th:href="@{/gamesAssets/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/gamesAssets/css/Login-Form-Dark.css}" />
  <link rel="stylesheet" th:href="@{/gamesAssets/css/styles.css}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
</head>

<body>
  <nav class="navbar navbar-light navbar-expand-md bg-dark bg-gradient py-3"
            style="background: rgb(0,0,0);color: var(--bs-white);opacity: 0.96;">
            <div class="container"><a class="navbar-brand d-flex align-items-center" href="/games"
                    style="color: rgba(255,255,255,0.9);"><span
                    style="font-size: 28px; font-family: 'Alfa Slab One', serif">ScoreDEI</span></a><button
                    data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span
                        class="visually-hidden">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-2">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul>
                    <a sec:authorize="isAuthenticated()">
                        <a>Hello, </a>
                        <a sec:authentication="name"></a>
                        <a class="btn btn-light ms-md-2 logout-button" role="button">Logout</a>
                        <form hidden="true" name="logout" th:action="@{/logout}" method="post"></form>
                    </a>
                    <a class="btn btn-light ms-md-2" role="button" href="/login"
                        sec:authorize="!isAuthenticated()">Login</a>
                    <a class="btn btn-light ms-md-2" role="button" href="/signup"
                        sec:authorize="!isAuthenticated()">Sign Up</a>
                </div>
            </div>
        </nav>
  <section class="login-dark">
    <form th:action="@{/games/addGame}" th:object="${gameForm}" method="post"
      style="color: var(--bs-blue); opacity: 0.95">
      <h2 class="visually-hidden">Login Form</h2>
      <div class="illustration" style="color: var(--bs-blue); border-color: var(--bs-blue)">
        <img th:src="@{/gamesAssets/img/ball.jpg}" style="width: 194px" />
      </div>
      <div class="mb-3">
        <div class="dropdown">
          <button class="btn btn-outline-primary btn-sm dropdown-toggle home-team" aria-expanded="false"
            data-bs-toggle="dropdown" type="button">
            Home Team
          </button>
          <div class="dropdown-menu">
            <div class="home-team-select" th:each="team : ${listTeams}">
              <a class="dropdown-item" th:text="${team.teamName}" th:data-team1="${team.teamName}"
                th:onclick="changeButtonText(this.getAttribute('data-team1'), 'home')"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="dropdown">
          <button class="btn btn-outline-primary btn-sm dropdown-toggle away-team" aria-expanded="false"
            data-bs-toggle="dropdown" type="button">
            Away Team
          </button>
          <div class="dropdown-menu">
            <div class="home-team-select" th:each="team : ${listTeams}">
              <a class="dropdown-item" th:text="${team.teamName}" th:data-team="${team.teamName}"
                th:onclick="changeButtonText(this.getAttribute('data-team'), 'away')"></a>
            </div>
          </div>
        </div>
      </div>
      <input class="hidden-home" type="hidden" th:field="*{homeTeam}" />
      <input class="hidden-away" type="hidden" th:field="*{awayTeam}" />
      <div class="mb-3">
        <input class="form-control" type="text" placeholder="Location" th:field="*{local}" />
      </div>
      <div class="mb-3">
        <input class="form-control" type="datetime-local" placeholder="Begin Date" th:field="*{date}" />
      </div>
      <div>
        <label class="alert alert-danger" role="alert" hidden="true" id="missignData">Fill all fields!</label>
        <label class="alert alert-danger" role="alert" hidden="true" id="equalTeams">Select different teams!</label>
        <input class="btn btn-primary d-block w-100" type="submit" value="Submit" />
      </div>
    </form>
  </section>
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('invalidForm')) {
      document.querySelector('#missignData').hidden = false;
    }

    if (urlParams.has('equalTeams')) {
      document.querySelector('#equalTeams').hidden = false;
    }

    function changeButtonText(text, team) {
      document.querySelector(`.${team}-team`).textContent = text;
      document.querySelector(`.hidden-${team}`).value = text;
    }

    document.querySelector(".logout-button").addEventListener("click", () => {
      form = document.forms.logout
      form.submit();
    })
  </script>
  <script th:src="@{/gamesAssets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>
