<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AdminMainPage</title>
    <link rel="stylesheet" href="adminAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="adminAssets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="adminAssets/css/styles.css">
</head>

<body>
    <section class="login-dark">
        <form method="post" style="color: var(--bs-blue);opacity: 0.95;">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration" style="color: var(--bs-blue);border-color: var(--bs-blue);"><img src="adminAssets/img/ball.jpg" style="width: 194px;"></div>
            <div><a th:href="@{/manageTeams}" class="btn btn-primary d-block w-100"> Manage Teams</a></div>
            <div><a th:href="@{/managePlayers}" class="btn btn-primary d-block w-100"> Manage Players</a></div>
            <div><a th:href="@{/manageGames}" class="btn btn-primary d-block w-100"> Manage Games</a></div>
            <div><a th:href="@{/manageEvent}" class="btn btn-primary d-block w-100"> Manage Events</a></div>
        </form>
    </section>
    <script src="adminAssets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>