<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="adminPanelAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="adminPanelAssets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="adminPanelAssets/css/styles.css">
</head>

<body>
    <section class="login-dark">
        <form method="post" style="color: var(--bs-blue);opacity: 0.95;">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration" style="color: var(--bs-blue);border-color: var(--bs-blue);"><img src="adminPanelAssets/img/ball.jpg" style="width: 194px;"></div>
            <div class="mb-3"></div>
            <div class="mb-3"></div>
            <div> <a th:href="@{/adminMainPage}" class="btn btn-primary d-block w-100"> Admin operations</a></div>
            <div><a th:href="@{/userMainPage}" class="btn btn-primary d-block w-100">  User Operations</a></div>
        </form>
    </section>
    <script src="adminPanelAssets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>