<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ManagePlayers</title>
    <link rel="stylesheet" th:href="@{/createPlayersAssets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/createPlayersAssets/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/createPlayersAssets/css/styles.css}">
</head>

<body>
    <section class="login-dark">
        <nav class="navbar navbar-light navbar-expand-md bg-dark bg-gradient py-3"
            style="background: rgb(0, 0, 0); color: var(--bs-white); opacity: 0.96">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="/games"
                    style="color: rgba(255, 255, 255, 0.9)"><span
                        style="font-size: 28px; font-family: 'Alfa Slab One', serif">ScoreDEI</span></a><button
                    data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
                    <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-2">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul>
                    <a sec:authorize="isAuthenticated()">
                        <a>Hello, </a>
                        <a sec:authentication="name"></a>
                        <a class="btn btn-light ms-md-2 logout-button" role="button">Logout</a>
                        <form hidden="true" name="logout" th:action="@{/logout}" method="post"></form>
                    </a>
                    <a class="btn btn-light ms-md-2" role="button" th:href="@{/login}"
                        sec:authorize="!isAuthenticated()">Login</a>
                    <a class="btn btn-light ms-md-2" role="button" href="/signup"
                        sec:authorize="!isAuthenticated()">Sign Up</a>
                </div>
            </div>
        </nav>
        <form th:action="@{/createPlayers}" th:object="${playerForm}" method="post"
            style="color: var(--bs-blue);opacity: 0.95;background: rgb(54,53,53);min-width: 900px;height: 587.7px;min-height: 795px;">
            <h2 class="visually-hidden">Login Form</h2>
            <h2 class="visually-hidden">Login Form</h2>
            <div class="row" style="background: #474747;">
                <div class="col text-center"><span
                        style="font-size: 45px;font-family: ABeeZee, sans-serif;color: rgb(255,255,255);">Create
                        Player</span></div>
            </div>
            <div class="illustration" style="color: var(--bs-blue);border-color: var(--bs-blue);"><img
                    th:src="@{/createPlayersAssets/img/ball.jpg}" style="width: 194px;"></div>
            <div class="mb-3"><input class="form-control" type="text" placeholder="Player Name" th:field="*{name}">
            </div>
            <div class="mb-3"><input class="form-control" type="datetime-local" placeholder="Birth Time"
                    th:field="*{birthTime}"></div>
            <div class="mb-3">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary btn-sm dropdown-toggle position" aria-expanded="false"
                        data-bs-toggle="dropdown" type="button"
                        style="transform: translateY(10px);background: #ffffff;">Position</button>
                    <div class="dropdown-menu">
                        <div th:each="pos : ${listPositions}">
                            <a class="dropdown-item" th:text="${pos}" th:data-position="${pos}"
                                th:onclick="changeButtonText(this.getAttribute('data-position'),'position')"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary btn-sm dropdown-toggle teams" aria-expanded="false"
                        data-bs-toggle="dropdown" type="button"
                        style="transform: translateY(30px);background: #ffffff;">Team</button>
                    <div class="dropdown-menu">
                        <div th:each="team : ${listTeams}">
                            <a class="dropdown-item" th:text="${team.getTeamName()}"
                                th:data-team="${team.getTeamName()}"
                                th:onclick="changeButtonText(this.getAttribute('data-team'), 'teams')"></a>
                        </div>
                    </div>
                </div>
            </div>
            <input class="hidden-position" type="hidden" th:field="*{position}" />
            <input class="hidden-teams" type="hidden" th:field="*{teamName}" />
            <label class="alert alert-danger" role="alert" hidden="true" id="missignData" style="position: fixed; transform: translateY(70%);">Fill all fields!</label>
            <div class="mb-3" style="transform: translateY(157px);"><button class="btn btn-primary d-block w-100"
                    type="submit">Submit</button></div>
        </form>
    </section>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('invalidForm')) {
            document.querySelector('#missignData').hidden = false;
        }

        function changeButtonText(text, field) {
            document.querySelector(`.${field}`).textContent = text;
            document.querySelector(`.hidden-${field}`).value = text;
        }
        document.querySelector(".logout-button").addEventListener("click", () => {
            form = document.forms.logout
            form.submit();
        })
    </script>
    <script th:src="@{/createPlayersAssets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>