<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>createTeam</title>
  <link rel="stylesheet" th:href="@{/createTeamAssets/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/createTeamAssets/css/Login-Form-Dark.css}">
  <link rel="stylesheet" th:href="@{/createTeamAssets/css/styles.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
</head>

<body>
  <section class="login-dark">
    <nav class="navbar navbar-light navbar-expand-md bg-dark bg-gradient py-3"
      style="background: rgb(0, 0, 0); color: var(--bs-white); opacity: 0.96">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/games" style="color: rgba(255, 255, 255, 0.9)"><span
          style="font-size: 28px; font-family: 'Alfa Slab One', serif">ScoreDEI</span></a><button
          data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
          <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-2">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
          </ul>
          <a sec:authorize="isAuthenticated()">
            <a>Hello, </a>
            <a sec:authentication="name"></a>
            <a class="btn btn-light ms-md-2 logout-button" role="button">Logout</a>
            <form hidden="true" name="logout" th:action="@{/logout}" method="post"></form>
          </a>
          <a class="btn btn-light ms-md-2" role="button" th:href="@{/login}"
            sec:authorize="!isAuthenticated()">Login</a>
          <a class="btn btn-light ms-md-2" role="button" href="/signup" sec:authorize="!isAuthenticated()">Sign Up</a>
        </div>
      </div>
    </nav>
    <form th:action="@{/createTeam}" th:object="${teamForm}" method="post"
      style="color: var(--bs-blue);opacity: 0.95;background: rgb(54,53,53);min-width: 900px;height: 587.7px;min-height: 708px;">
      <h2 class="visually-hidden">Login Form</h2>
      <div class="row" style="background: #474747;">
        <div class="col text-center"><span
            style="font-size: 45px;font-family: ABeeZee, sans-serif;color: rgb(255,255,255);">Create Team</span></div>
      </div>
      <div class="illustration" style="color: var(--bs-blue);border-color: var(--bs-blue);"><img
          th:src="@{/createTeamAssets/img/ball.jpg}" style="width: 194px;height: 300.734px;min-width: 300px;"></div>
      <div class="mb-3" style="transform: translateY(109px);"><button class="btn btn-primary d-block w-100"
          type="submit">Submit</button></div>
      <label hidden="true" id="teamNameExists" class="alert alert-danger" role="alert"
        style="font-size: small; transform: translateY(-100px);">Team name already in use!</label>
      <label hidden="true" id="invalidName" class="alert alert-danger" role="alert"
        style="font-size: small; transform: translateY(-100px);">Invalid team name!</label>
      <div class="row text-center" style="font-size: 30px;transform: translateY(-84px);">
        <div class="col text-center">
          <input class="form-control" type="text" placeholder="Team Name" style="font-size: 32px;text-align: center;"
            th:field="*{name}">
        </div>
        <div class="col text-center">
          <input class="form-control" type="text" placeholder="Logo URL" style="font-size: 32px;text-align: center;"
            th:field="*{urlPhoto}">
        </div>

      </div>
    </form>
  </section>
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('teamAlreadyExists')) {
      document.querySelector('#teamNameExists').hidden = false;
    }

    if (urlParams.has('invalidName')) {
      document.querySelector('#invalidName').hidden = false;
    }

    document.querySelector(".logout-button").addEventListener("click", () => {
      form = document.forms.logout;
      form.submit();
    })
  </script>
  <script th:src="@{/createTeamAssets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>