<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Events</title>
    <link rel="stylesheet" th:href="@{/eventsAssets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/eventsAssets/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/eventsAssets/css/styles.css}">
</head>

<body>
    <section class="login-dark">
        <form method="post" style="color: var(--bs-blue);opacity: 0.95;">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration" style="color: var(--bs-blue);border-color: var(--bs-blue);"><img
                    th:src="@{/eventsAssets/img/ball.jpg}" style="width: 194px;"></div>
            <div class="mb-3">
                <div class="table-responsive" style="color: rgb(255,255,255);">
                    <table class="table">
                        <thead style="color: rgb(255,255,255);">
                            <tr>
                                <th style="color: #ffffff;">
                                    <a th:href="@{'/games/' + ${gameId} + '/addEvent'}" class="btn btn-primary d-block" style="transform: translate(109px) translateY(28px); width: 130px; height: 30px; vertical-align: center;">Add Event</a>
                                    Events
                                </th>
                            </tr>
                        </thead>
                        <tbody style="color: rgb(255,255,255);">
                            <tr th:each="event : ${events}">
                                <td th:text="${event.name}"></td>
                                <td th:text="${event.time}"></td>
                                <td th:if="${event.player} != null" th:text="${event.player.playerName}"></td>
                                <td th:if="${event.player} == null" th:text="empty"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </section>
    <script th:src="@{/eventsAssets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>