<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EventMaker</title>
    <link rel="stylesheet" href="eventChoiceAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="eventChoiceAssets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="eventChoiceAssets/css/styles.css">
</head>

<body>
    <section class="login-dark">
        <form method="post" style="color: var(--bs-blue);opacity: 0.95;">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration" style="color: var(--bs-blue);border-color: var(--bs-blue);"><img src="eventChoiceAssets/img/ball.jpg" style="width: 194px;"></div>
            <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Goal or Card color"></div>
            <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Team"></div>
            <div class="mb-3"><input class="form-control" type="password" placeholder="Player"></div>
            <div class="mb-3"><input class="form-control" type="password" placeholder="Date"></div>
            <div class="mb-3"><input class="form-control" type="password" placeholder="Time"></div>
            <div class="mb-3">
                <div class="container">
                    <div class="row">
                        <div><a th:href="@{/adminMainPage}" class="btn btn-primary d-block w-100"> Approve </a></div>
                        <div><a th:href="@{/adminMainPage}" class="btn btn-primary d-block w-100"> Discard </a></div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <script src="eventChoiceAssets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>