<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Statistics</title>
    <link rel="stylesheet" th:href="@{/manageGameAssets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/manageGameAssets/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/manageGameAssets/css/styles.css}">
</head>

<body>
    <section class="login-dark">
        <form th:action="@{/games/edit}" th:object="${gameForm}" th method="post"
            style="color: var(--bs-blue);opacity: 0.95;max-width: 388px;min-width: 0px;">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration" style="color: var(--bs-blue);border-color: var(--bs-blue);"><img
                    th:src="@{/manageGameAssets/img/ball.jpg}" style="width: 194px;"></div>
            <div class="mb-3">
                <div class="table-responsive" style="color: rgb(255,255,255);">
                    <table class="table">
                        <thead style="color: rgb(255,255,255);">
                            <tr>
                                <td>Home Team</td>
                                <td>Away Team</td>
                                <td>Local</td>
                                <td>Game Date</td>
                            </tr>
                        </thead>
                        <tbody style="color: rgb(255,255,255);">
                            <tr th:each="game : ${listGames}">
                                <td>
                                    <img th:src="${game.homeTeam.logoURL}" style="width: 20px;">
                                    <span th:text="${game.homeTeam.teamName}"></span>
                                    <input hidden="true"></input>
                                </td>
                                <td>
                                    <img th:src="${game.awayTeam.logoURL}" style="width: 20px;">
                                    <span th:text="${game.awayTeam.teamName}"></span>
                                </td>
                                <td th:text="${game.localization}"></td>
                                <td th:text="${game.gameDate}"></td>
                                <td sec:authorize="isAuthenticated()">
                                    <a th:href="@{'/games/' + ${game.id} + '/events'}"
                                        class="btn btn-primary d-block">Events</a>
                                </td>
                                <td sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{'/games/' + ${game.id} + '/delete'}"
                                        class="btn btn-primary d-block">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </section>
    <script th:src="@{/manageGameAssets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>