<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>searchGame</title>
    <link rel="stylesheet" th:href="@{/gamesViewAssets/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap" />
    <link rel="stylesheet" th:href="@{/gamesViewAssets/css/Login-Form-Dark.css}" />
    <link rel="stylesheet" th:href="@{/gamesViewAssets/css/Navbar-Right-Links.css}" />
    <link rel="stylesheet" th:href="@{/gamesViewAssets/css/styles.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap" />
</head>

<body>
    <section class="login-dark">
        <nav class="navbar navbar-light navbar-expand-md bg-dark bg-gradient py-3"
            style="background: rgb(0, 0, 0); color: var(--bs-white); opacity: 0.96">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="/games"
                    style="color: rgba(255, 255, 255, 0.9)"><span
                        style="font-size: 28px; font-family: 'Alfa Slab One', serif">ScoreDEI</span></a>
                <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
                    <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-2">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul>
                    <a sec:authorize="isAuthenticated()">
                        <a>Hello, </a>
                        <a sec:authentication="name"></a>
                        <a class="btn btn-light ms-md-2 logout-button" role="button" style="font-size: 13px;">Logout</a>
                        <form hidden="true" name="logout" th:action="@{/logout}" method="post"></form>
                    </a>
                    <a class="btn btn-light ms-md-2" role="button" href="/statisticsManager" style="font-size: 13px;">Statistics</a>
                    <a class="btn btn-light ms-md-2" role="button" href="/manageUsers" style="font-size: 13px;"
                        sec:authorize="hasRole('ROLE_ADMIN')">Manage Users</a>
                    <a class="btn btn-light ms-md-2" role="button" href="/managePlayers" style="font-size: 13px;"
                        sec:authorize="hasRole('ROLE_ADMIN')">Manage Players</a>
                    <a class="btn btn-light ms-md-2" role="button" href="/createPlayers" style="font-size: 13px;"
                        sec:authorize="hasRole('ROLE_ADMIN')">Add Player</a>
                    <a class="btn btn-light ms-md-2" role="button" href="/manageTeam" style="font-size: 13px;"
                        sec:authorize="hasRole('ROLE_ADMIN')">Manage Teams</a>
                    <a class="btn btn-light ms-md-2" role="button" href="/createTeam" style="font-size: 13px;"
                        sec:authorize="hasRole('ROLE_ADMIN')">Add Team</a>
                    <a class="btn btn-light ms-md-2" role="button" href="/manageGame" style="font-size: 13px;"
                        sec:authorize="hasRole('ROLE_ADMIN')">Manage Games</a>
                        <a class="btn btn-light ms-md-2" role="button" href="/games/addGame" style="font-size: 13px;"
                        sec:authorize="hasRole('ROLE_ADMIN')">Add Game</a>
                    <a class="btn btn-light ms-md-2" role="button" href="/fetchData" style="font-size: 13px;"
                        sec:authorize="hasRole('ROLE_ADMIN')">Fetch Data</a>
                    <a class="btn btn-light ms-md-2" role="button" th:href="@{/login}" style="font-size: 13px;"
                        sec:authorize="!isAuthenticated()">Login</a>
                    <a class="btn btn-light ms-md-2" role="button" href="/signup" style="font-size: 13px;"
                        sec:authorize="!isAuthenticated()">Sign Up</a>
            </div>
        </nav>
        <form style="
          background: rgb(152, 138, 128);
          max-width: 90%;
          min-height: 80%;
          opacity: 0.96;
        ">
            <div class="container">
                <div class="row" style="min-width: 584px">
                    <div class="col-md-4" style="text-align: left">
                        <div class="row">
                            <div class="col" style="background: #676262">
                                <span style="font-size: 35px">Past Games</span>
                            </div>
                        </div>
                        <div class="row" style="height: 600px">
                            <div class="col" style="background: #434141">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody style="
                          --bs-body-color: #212529;
                          color: rgb(255, 255, 255);
                        ">
                                            <tr class="table-row" th:each="game : ${listGames}"
                                                th:data-href="${game.id}">
                                                <div
                                                    th:if="${fmt.format(game.gameDate).compareTo(fmt.format(currentDate)) < 0}">
                                                    <td>
                                                        <img th:src="${game.homeTeam.logoURL}" style="width: 20px" />
                                                        <span th:text="${game.homeTeam.teamName}"></span>
                                                    </td>
                                                    <td th:text="${game.getScoreString()}"></td>
                                                    <td class="text-end">
                                                        <span th:text="${game.awayTeam.teamName}"></span>
                                                        <img th:src="${game.awayTeam.logoURL}" style="width: 20px" />
                                                    </td>
                                                </div>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="text-align: left">
                        <div class="row">
                            <div class="col" style="background: #676262">
                                <span style="font-size: 35px">Today Games</span>
                            </div>
                        </div>
                        <div class="row" style="min-height: 600px">
                            <div class="col" style="background: #5f5858">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody style="color: rgb(255, 255, 255)">
                                            <tr class="table-row" th:each="game : ${listGames}"
                                                th:data-href="${game.id}">
                                                <div
                                                    th:if="${fmt.format(game.gameDate).compareTo(fmt.format(selectedDate)) == 0}">
                                                    <td th:text='${game.gameDate.toString().split(" ")[1]}'></td>
                                                    <td>
                                                        <img th:src="${game.homeTeam.logoURL}" style="width: 20px" />
                                                        <span th:text="${game.homeTeam.teamName}"></span>
                                                    </td>
                                                    <td th:text="${game.getScoreString()}"></td>
                                                    <td class="text-end">
                                                        <span th:text="${game.awayTeam.teamName}"></span>
                                                        <img th:src="${game.awayTeam.logoURL}" style="width: 20px" />
                                                    </td>
                                                </div>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="text-align: left">
                        <div class="row">
                            <div class="col" style="background: #676262">
                                <div class="row">
                                    <div class="col" style="max-height: -19px">
                                        <span style="font-size: 35px">Next Games</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="min-height: 600px">
                            <div class="col" style="background: #363232">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody style="color: rgb(255, 255, 255)">
                                            <tr class="table-row" th:each="game : ${listGames}"
                                                th:data-href="${game.id}">
                                                <div
                                                    th:if="${fmt.format(game.gameDate).compareTo(fmt.format(selectedDate)) > 0}">
                                                    <td th:text='${game.gameDate.toString()}'></td>
                                                    <td>
                                                        <img th:src="${game.homeTeam.logoURL}" style="width: 20px" />
                                                    </td>
                                                    <td th:text="${game.homeTeam.teamName}"></td>
                                                    <td th:text="${game.getScoreString()}"
                                                        style="width: 100px; align-items: center;"></td>
                                                    <td th:text="${game.awayTeam.teamName}"></td>
                                                    <td class="text-end">
                                                        <img th:src="${game.awayTeam.logoURL}" style="width: 20px" />
                                                    </td>
                                                </div>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <script th:src="@{/gamesViewAssets/bootstrap/js/bootstrap.min.js}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");
            rows.forEach((row) => {
                row.addEventListener("click", () => {
                    window.location.href = `games/${row.dataset.href}`;
                });
            });
        });
        document.querySelector(".logout-button").addEventListener("click", () => {
            form = document.forms.logout
            form.submit();
        })
    </script>
</body>

</html>