<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>gameView</title>
    <link rel="stylesheet" th:href="@{/gameViewAssets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap}">
    <link rel="stylesheet" th:href="@{/https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap}">
    <link rel="stylesheet" th:href="@{/gameViewAssets/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/gameViewAssets/css/Navbar-Right-Links.css}">
    <link rel="stylesheet" th:href="@{/gameViewAssets/css/styles.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap" />
</head>

<body>
    <section class="login-dark">
        <nav class="navbar navbar-light navbar-expand-md bg-dark bg-gradient py-3"
            style="background: rgb(0, 0, 0); color: var(--bs-white); opacity: 0.96">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="/games"
                    style="color: rgba(255, 255, 255, 0.9)"><span
                    style="font-size: 28px; font-family: 'Alfa Slab One', serif">ScoreDEI</span></a><button
                    data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
                    <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-2">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul>
                    <a sec:authorize="isAuthenticated()">
                        <a>Hello, </a>
                        <a sec:authentication="name"></a>
                        <a class="btn btn-light ms-md-2 logout-button" role="button">Logout</a>
                        <form hidden="true" name="logout" th:action="@{/logout}" method="post"></form>
                    </a>
                    <a class="btn btn-light ms-md-2" role="button" th:href="@{/login}"
                        sec:authorize="!isAuthenticated()">Login</a>
                    <a class="btn btn-light ms-md-2" role="button" href="/signup"
                        sec:authorize="!isAuthenticated()">Sign Up</a>
                </div>
            </div>
        </nav>
        <form
            style="background: rgb(18,18,18);max-width: 0%;min-height: 83.5%;opacity: 0.96;min-width: 80%;color: rgb(0,0,0);">
            <div class="row" style="background: #000000;color: rgb(11,11,11);">
                <div class="col text-center"><span
                        style="font-size: 45px;font-family: ABeeZee, sans-serif;color: rgb(255,255,255);"
                        th:text="${game.localization}"></span></div>
            </div>
            <div class="row" style="background: rgb(11,11,11);">
                <div class="col text-end"><img th:src="${game.homeTeam.logoURL}"
                        style="width: 225px;max-width: 225px; height: 225px;max-height: 225px;">
                </div>
                <div class="col align-self-center" style="text-align: center;color: rgb(0,0,0);"><span
                        style="font-family: ABeeZee, sans-serif;font-size: 70px;color: rgb(255,255,255);"
                        th:text="${game.getScoreString()}"></span></div>
                <div class="col"><img th:src="${game.awayTeam.logoURL}"
                        style="width: 225px;max-width: 225px; height: 225px;max-height: 225px;"></div>
            </div>
            <div class="row">
                <div class="col text-start"
                    style="color: rgb(255,255,255);font-size: 24px;max-width: 33%;width: 363px;transform: translateX(310px);">
                    <span th:text="${game.homeTeam.teamName}"></span>
                </div>
                <div class="col text-start"
                    style="color: rgb(255,255,255);font-size: 24px;max-width: 33%;transform: translateX(120px);"><span
                        th:text="${game.gameDate}"></span></div>
                <div class="col text-start"
                    style="color: rgb(255,255,255);font-size: 24px;max-width: 33%;transform: translateX(75px);"><span
                        th:text="${game.awayTeam.teamName}"></span></div>

            </div>
            <div class="row" style="transform: translateY(80px);">
                <div class="col text-end">
                    <a class="btn btn-light ms-md-2" role="button"
                        th:href="@{/games/{gameId}/addEvent(gameId=${gameId})}" style="max-height: 44px;"
                        sec:authorize="isAuthenticated()" th:if="${!gameEnded}">Add Event</a>
                </div>
            </div>
            <div class="row" style="transform: translateY(80px);background: rgb(158,138,128);">
                <div class="col">
                    <div class="table-responsive scrollable">
                        <table class="table">
                            <tbody>
                                <tr th:each="event : ${sortedEvents}">
                                    <td th:text="${event.name}"></td>
                                    <td th:text="${event.getDateDiff() + ' minute(s)'}"></td>
                                    <td th:if="${event.player} != null" th:text="${event.player.playerName}"></td>
                                    <td th:if="${event.player} == null" th:text="empty"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <script>
        document.querySelector(".logout-button").addEventListener("click", () => {
            form = document.forms.logout
            form.submit();
        })
    </script>
    <script th:src="@{/gameViewAssets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>