<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/loginAssets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/loginAssets/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/loginAssets/css/styles.css}">
</head>

<body>
    <section class="login-dark">
        <form th:action="@{/login}" method="post" style="color: var(--bs-blue);opacity: 0.95;">
            <h2 class="visually-hidden">Login Form</h2>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username or password.
            </div>
            <div th:if="${param.logout}" class="alert alert-error">
                You have been logged out.
            </div>
            <div class="illustration" style="color: var(--bs-blue);border-color: var(--bs-blue);"><img th:src="@{/loginAssets/img/ball.jpg}" style="width: 194px;"></div>
            <div class="mb-3"><input class="form-control" type="text" name="username" placeholder="Username"></div>
            <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div>
                <input class="btn btn-primary d-block w-100" type="submit" value="Login"/>
            </div>
            <div>
                <a th:href="@{/signup}" class="btn btn-primary d-block w-100"> Register</a>
            </div>
        </form>
    </section>
    <script th:src="@{/loginAssets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>