<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>ManagePlayers</title>
  <link rel="stylesheet" th:href="@{/manageUsersAssets/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/manageUsersAssets/css/Login-Form-Dark.css}">
  <link rel="stylesheet" th:href="@{/manageUsersAssets/css/styles.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
</head>

<body>
  <section class="login-dark">
    <nav class="navbar navbar-light navbar-expand-md bg-dark bg-gradient py-3"
      style="background: rgb(0, 0, 0); color: var(--bs-white); opacity: 0.96">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/games" style="color: rgba(255, 255, 255, 0.9)"><span
            style="font-size: 28px; font-family: 'Alfa Slab One', serif">ScoreDEI</span></a><button
          data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
          <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-2">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
          </ul>
          <a sec:authorize="isAuthenticated()">
            <a>Hello, </a>
            <a sec:authentication="name"></a>
            <a class="btn btn-light ms-md-2 logout-button" role="button">Logout</a>
            <form hidden="true" name="logout" th:action="@{/logout}" method="post"></form>
          </a>
          <a class="btn btn-light ms-md-2" role="button" th:href="@{/login}"
            sec:authorize="!isAuthenticated()">Login</a>
          <a class="btn btn-light ms-md-2" role="button" href="/signup" sec:authorize="!isAuthenticated()">Sign Up</a>
        </div>
      </div>
    </nav>
    <form th:action="@{/manageUsers}" th:object="${userForm}" method="post"
      style="color: var(--bs-blue);opacity: 0.95;background: rgb(54,53,53);min-width: 900px;height: 587.7px;min-height: 820px;">
      <h2 class="visually-hidden">Login Form</h2>
      <div class="row" style="background: #474747;">
        <div class="col text-center"><span
            style="font-size: 45px;font-family: ABeeZee, sans-serif;color: rgb(255,255,255);">Manage Users</span></div>
      </div>
      <div class="illustration" style="color: var(--bs-blue);border-color: var(--bs-blue);"><img
          th:src="@{/manageUsersAssets/img/ball.jpg}" style="width: 194px;"></div>
      <div class="mb-3">
        <div class="dropdown">
          <button class="btn btn-primary btn-sm dropdown-toggle user-button" aria-expanded="false"
            data-bs-toggle="dropdown" type="button">User</button>
          <div class="dropdown-menu">
            <div th:each="user : ${users}">
              <a class="dropdown-item" th:text="${user.username}" th:data-userId="${user.id}"
                th:data-username="${user.username}"
                th:onclick="changeButtonText(this.getAttribute('data-username'), 'userInfo',this.getAttribute('data-userId'))"></a>
              </a>
            </div>
          </div>
        </div>
      </div>
      <input class="hidden-user" type="hidden" th:field="*{id}" />
      <div class="mb-3"><input class="form-control" type="text" placeholder="Username" th:field="*{username}"></div>
      <div class="mb-3"><input class="form-control" type="email" placeholder="Email" th:field="*{email}"></div>
      <div class="mb-3"><input class="form-control" type="password" placeholder="Password" th:field="*{password}"></div>
      <div class="mb-3"><input class="form-control" type="text" placeholder="Phone Number" th:field="*{phoneNumber}">
        <div class="mb-3">
          <div class="dropdown">
            <button class="btn btn-outline-primary btn-sm dropdown-toggle user-type" aria-expanded="false"
              data-bs-toggle="dropdown" type="button" style="transform: translateY(10px);">
              Permissions
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" onclick="changeButtonText('User','permissions')">User</a>
              <a class="dropdown-item" onclick="changeButtonText('Admin','permissions')">Admin</a>
            </div>
          </div>
        </div>
        <div class="mb-3"><input class="form-control admin" type="password" hidden="true" name="adminPass"
            placeholder="Admin Password"></div>
        <input class="form-control select-role" hidden="true" th:field="*{role}">
        <label class="alert alert-danger" role="alert" hidden="true" id="missignData">Select an user!</label>
        <div class="row">
          <div class="col"><input class="btn btn-primary d-block w-100" type="submit" style="font-size: 22px;"
              value="Change User info"></input></div>
          <div class="col"><a class="btn btn-primary d-block w-100 delete-user" style="font-size: 22px;">Delete
              User</a></div>
        </div>
      </div>
    </form>

    <form method="post" th:action="@{/manageUsers/delete}" name="delete" hidden="true">
      <input class="user-id-post" th:name="userId"></input>
    </form>

  </section>
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('invalidForm')) {
      document.querySelector('#missignData').hidden = false;
    }

    function changeButtonText(text, type, id) {
      if (type === 'userInfo') {
        document.querySelector('.user-button').textContent = text
        document.querySelector('.hidden-user').value = id

        document.querySelector(".delete-user").addEventListener("click", () => {
          document.querySelector('.user-id-post').value = document.querySelector('.hidden-user').value
          form = document.forms.delete
          form.submit();
        })
      }
      else {
        document.querySelector('.user-type').textContent = text
        document.querySelector('.select-role').value = "ROLE_" + text.toUpperCase()
        if (text === 'Admin') {
          document.querySelector('.admin').hidden = false;
        } else {
          document.querySelector('.admin').hidden = true;
        }
      }
    }

    document.querySelector(".logout-button").addEventListener("click", () => {
      form = document.forms.logout
      form.submit();
    })
  </script>
  <script th:src="@{/manageUsersAssets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>