<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ManagePlayers</title>
    <link rel="stylesheet" th:href="@{/managePlayersAssets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/managePlayersAssets/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/managePlayersAssets/css/styles.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
</head>

<body>
    <section class="login-dark">
        <nav class="navbar navbar-light navbar-expand-md bg-dark bg-gradient py-3"
            style="background: rgb(0, 0, 0); color: var(--bs-white); opacity: 0.96">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="/games"
                    style="color: rgba(255, 255, 255, 0.9)"><span
                    style="font-size: 28px; font-family: 'Alfa Slab One', serif">ScoreDEI</span></a><button
                    data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
                    <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-2">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul>
                    <a sec:authorize="isAuthenticated()">
                        <a>Hello, </a>
                        <a sec:authentication="name"></a>
                        <a class="btn btn-light ms-md-2 logout-button" role="button">Logout</a>
                        <form hidden="true" name="logout" th:action="@{/logout}" method="post"></form>
                    </a>
                    <a class="btn btn-light ms-md-2" role="button" th:href="@{/login}"
                        sec:authorize="!isAuthenticated()">Login</a>
                    <a class="btn btn-light ms-md-2" role="button" href="/signup"
                        sec:authorize="!isAuthenticated()">Sign Up</a>
                </div>
            </div>
        </nav>
        <form th:action="@{/managePlayers}" th:object="${playerForm}" method="post"
            style="color: var(--bs-blue);opacity: 0.95;background: rgb(54,53,53);min-width: 900px;height: 587.7px;min-height: 795px;">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="row" style="background: #474747;">
                <div class="col text-center"><span
                        style="font-size: 45px;font-family: ABeeZee, sans-serif;color: rgb(255,255,255);">Manage
                        Player</span></div>
            </div>
            <div class="illustration" style="color: var(--bs-blue);border-color: var(--bs-blue);"><img
                    th:src="@{/managePlayersAssets/img/ball.jpg}" style="width: 194px;"></div>
            <div class="mb-3">
                <div class="dropdown">
                    <button class="btn btn-primary btn-sm dropdown-toggle player" aria-expanded="false"
                        data-bs-toggle="dropdown" type="button">Player</button>
                    <div class="dropdown-menu">
                        <div th:each="player : ${players}">
                            <a class="dropdown-item" th:text="${player.playerName}" th:data-playerId="${player.id}"
                                th:data-playerName="${player.playerName}"
                                th:onclick="changeButtonText(this.getAttribute('data-playerName'), 'player', this.getAttribute('data-playerId'))"></a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3" style="transform: translateY(37px);"><input class="form-control" type="datetime-local"
                    th:field="*{birthTime}"></div>
            <div>
                <div class="dropdown"></div><button class="btn btn-primary btn-sm dropdown-toggle team"
                    aria-expanded="false" data-bs-toggle="dropdown" type="button"
                    style="transform: translateY(80px);">Team</button>
                <div class="dropdown-menu">
                    <div th:each="team : ${teams}">
                        <a class="dropdown-item" th:text="${team.teamName}" th:data-teamId="${team.id}"
                            th:data-teamName="${team.teamName}"
                            th:onclick="changeButtonText(this.getAttribute('data-teamName'), 'team', this.getAttribute('data-teamId'))"></a>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="dropdown"></div><button class="btn btn-primary btn-sm dropdown-toggle position"
                    aria-expanded="false" data-bs-toggle="dropdown" type="button"
                    style="transform: translateY(80px);">Position</button>
                <div class="dropdown-menu">
                    <div th:each="position : ${positions}">
                        <a class="dropdown-item" th:text="${position}" th:data-position="${position}"
                            th:onclick="changeButtonText(this.getAttribute('data-position'), 'position')"></a>
                        </a>
                    </div>
                </div>
            </div>
            <input class="hidden-player" type="hidden" th:field="*{id}" />
            <input class="hidden-team" type="hidden" th:field="*{teamName}" />
            <input class="hidden-position" type="hidden" th:field="*{position}" />
            <div class="mb-3" style="transform: translateY(157px);">
                <label class="alert alert-danger" role="alert" hidden="true" id="missignData" style="position: fixed; transform: translateY(-80px);">Select a player!</label>
                <div class="row">
                    <div class="col"><button class="btn btn-primary d-block w-100" type="submit">Change Player
                            info</button></div>
                    <div class="col"><a class="btn btn-primary d-block w-100 delete-player">Delete Player</a></div>
                </div>
            </div>
        </form>
        <form method="post" th:action="@{/managePlayers/delete}" name="delete" hidden="true">
            <input class="player-id-post" th:name="playerId"></input>
        </form>
    </section>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('invalidForm')) {
            document.querySelector('#missignData').hidden = false;
        }

        function changeButtonText(text, targetClass, id) {
            if (targetClass === 'player') {
                document.querySelector('.player').textContent = text
                document.querySelector('.hidden-player').value = id
            }
            else if (targetClass === 'team') {
                document.querySelector('.team').textContent = text
                document.querySelector('.hidden-team').value = text
            }
            else if (targetClass === 'position') {
                document.querySelector('.position').textContent = text
                document.querySelector('.hidden-position').value = text
            }

        }
        document.querySelector(".delete-player").addEventListener("click", () => {
            document.querySelector('.player-id-post').value = document.querySelector('.hidden-player').value
            form = document.forms.delete
            form.submit();
        })
        document.querySelector(".logout-button").addEventListener("click", () => {
            form = document.forms.logout
            form.submit();
        })
    </script>
    <script th:src="@{/managePlayersAssets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>