<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>createGamebsdesign</title>
    <link rel="stylesheet" th:href="@{/manageGameAssets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/manageGameAssets/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/manageGameAssets/css/styles.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
</head>

<body>
    <section class="login-dark">
        <nav class="navbar navbar-light navbar-expand-md bg-dark bg-gradient py-3"
            style="background: rgb(0, 0, 0); color: var(--bs-white); opacity: 0.96">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="/games"
                    style="color: rgba(255, 255, 255, 0.9)"><span
                        style="font-size: 28px; font-family: 'Alfa Slab One', serif">ScoreDEI</span></a><button
                    data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
                    <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-2">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul>
                    <a sec:authorize="isAuthenticated()">
                        <a>Hello, </a>
                        <a sec:authentication="name"></a>
                        <a class="btn btn-light ms-md-2 logout-button" role="button">Logout</a>
                        <form hidden="true" name="logout" th:action="@{/logout}" method="post"></form>
                    </a>
                    <a class="btn btn-light ms-md-2" role="button" th:href="@{/login}"
                        sec:authorize="!isAuthenticated()">Login</a>
                    <a class="btn btn-light ms-md-2" role="button" href="/signup"
                        sec:authorize="!isAuthenticated()">Sign Up</a>
                </div>
            </div>
        </nav>
        <form th:action="@{/manageGame}" th:object="${gameForm}" method="post"
            style="color: var(--bs-blue);opacity: 0.95;background: rgb(54,53,53);min-width: 900px;height: 587.7px;min-height: 795px;">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="row" style="background: #474747;">
                <div class="col text-center" style="background: #000000;"><span
                        style="font-size: 45px;font-family: ABeeZee, sans-serif;color: rgb(255,255,255);">Manage
                        Game</span></div>
            </div>
            <div class="illustration" style="color: var(--bs-blue);border-color: var(--bs-blue);"><img
                    th:src="@{/manageGameAssets/img/ball.jpg}" style="width: 194px;"></div>
            <div class="dropdown font-monospace mb-3"
                style="transform: translateY(10px); position: relative; z-index: 10;">
                <label class="alert alert-danger" role="alert" hidden="true" id="missignData"
                    style="position: fixed; transform: translateX(100px) translateY(20px);">Select a game!</label>
                <button class="btn btn-primary btn-sm dropdown-toggle team-button game" aria-expanded="false"
                    data-bs-toggle="dropdown" type="button">Game</button>
                <div class="dropdown-menu">
                    <div th:each="game : ${games}">
                        <a class="dropdown-item"
                            th:text="${game.homeTeam.teamName} + ' vs ' + ${game.awayTeam.teamName}"
                            th:data-gameId="${game.id}"
                            th:data-gameInfo="${game.homeTeam.teamName} + ' vs ' + ${game.awayTeam.teamName}"
                            th:onclick="changeButtonText(this.getAttribute('data-gameInfo'), 'game',this.getAttribute('data-gameId'))"></a>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mb-3"><input class="form-control" type="text" placeholder="Location" th:field="*{local}"></div>
            <div><input class="form-control" type="datetime-local" th:field="*{date}"></div>
            <div class="font-monospace mb-3">
                <div class="dropdown" style="position: relative; z-index: 9;">
                    <button class="btn btn-primary btn-sm dropdown-toggle team1" aria-expanded="false"
                        data-bs-toggle="dropdown" type="button">Team 1</button>
                    <div class="dropdown-menu">
                        <div th:each="team : ${teams}">
                            <a class="dropdown-item" th:text="${team.teamName}" th:data-team1Id="${team.id}"
                                th:data-team1Name="${team.teamName}"
                                th:onclick="changeButtonText(this.getAttribute('data-team1Name'), 'team1', this.getAttribute('data-team1Id'))"></a>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="font-monospace mb-3" style="transform: translateY(20px);">
                    <div class="dropdown" style="position: relative; z-index: 8;">
                        <button class="btn btn-primary btn-sm dropdown-toggle team2" aria-expanded="false"
                            data-bs-toggle="dropdown" type="button">Team 2</button>
                        <div class="dropdown-menu">
                            <div th:each="team : ${teams}">
                                <a class="dropdown-item" th:text="${team.teamName}" th:data-team2Id="${team.id}"
                                    th:data-team2Name="${team.teamName}"
                                    th:onclick="changeButtonText(this.getAttribute('data-team2Name'), 'team2',this.getAttribute('data-team2Id'))"></a>
                                </a>
                            </div>
                        </div>
                    </div>
                    <input class="hidden-game" type="hidden" th:field="*{id}" />
                    <input class="hidden-team1" type="hidden" th:field="*{homeTeam}" />
                    <input class="hidden-team2" type="hidden" th:field="*{awayTeam}" />
                    <div class="row">
                        <div class="col-md-6"><button class="btn btn-primary d-block w-100" type="submit">Change
                                Game info</button></div>
                        <div class="col-md-6"><a class="btn btn-primary d-block w-100 delete-game">Delete
                                Game</a></div>
                    </div>
        </form>
        <div hidden="true">
            <form method="post" th:action="@{/manageGame/delete}" name="delete" hidden="true">
                <input class="game-id-post" th:name="gameId"></input>
            </form>
        </div>
    </section>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('invalidForm')) {
            document.querySelector('#missignData').hidden = false;
        }

        function changeButtonText(text, targetClass, id) {
            if (targetClass === 'game') {
                document.querySelector('.game').textContent = text
                document.querySelector('.hidden-game').value = id
            }
            else if (targetClass === 'team1') {
                document.querySelector('.team1').textContent = text
                document.querySelector('.hidden-team1').value = text
            }
            else if (targetClass === 'team2') {
                document.querySelector('.team2').textContent = text
                document.querySelector('.hidden-team2').value = text
            }

        }
        document.querySelector(".delete-game").addEventListener("click", () => {
            document.querySelector('.game-id-post').value = document.querySelector('.hidden-game').value
            form = document.forms.delete
            form.submit();
        })

        document.querySelector(".logout-button").addEventListener("click", () => {
            form = document.forms.logout
            form.submit();
        })
    </script>
    <script th:src="@{/manageGameAssets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>