<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/registerAssets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/registerAssets/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/registerAssets/css/styles.css}">
</head>

<body>
    <section class="login-dark">
        <form th:action="@{/signup}" th:object="${userForm}" method="post" style="color: var(--bs-blue);opacity: 0.95;">
            <h2 class="visually-hidden">Signup Form</h2>
            <div class="illustration" style="color: var(--bs-blue);border-color: var(--bs-blue);"><img
                    th:src="@{/registerAssets/img/ball.jpg}" style="width: 194px;"></div>
            <div class="mb-3"><input class="form-control" type="text" name="username" placeholder="Username"
                    th:field="*{username}"></div>
            <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email"
                    th:field="*{email}"></div>
            <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"
                    th:field="*{password}"></div>
            <div class="mb-3"><input class="form-control" type="text" name="phoneNumber" placeholder="Phone Number"
                    th:field="*{phoneNumber}"></div>
            <div class="mb-3">
                <div class="dropdown">
                    <button class="btn btn-outline-primary btn-sm dropdown-toggle user-type" aria-expanded="false"
                        data-bs-toggle="dropdown" type="button">
                        Permissions
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="changeButtonText('User')">User</a>
                        <a class="dropdown-item" onclick="changeButtonText('Admin')">Admin</a>
                    </div>
                </div>
            </div>
            <div class="mb-3"><input class="form-control admin" type="password" hidden="true" name="adminPass"></div>
            <div>
                <label class="alert alert-danger" role="alert" hidden="true" id="userExists">User already exists!</label>
                <label class="alert alert-danger" role="alert" hidden="true" id="invalidForm">Fill all fields!</label>
                <input class="form-control select-role" hidden="true" th:field="*{role}">
                <input class="btn btn-primary d-block w-100" type="submit" value="Submit" />
            </div>
        </form>
    </section>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('userAlreadyExists')) {
            document.querySelector('#userExists').hidden = false;
        }

        if (urlParams.has('invalidForm')) {
            document.querySelector('#invalidForm').hidden = false;
        }

        function changeButtonText(text) {
            document.querySelector('.user-type').textContent = text
            document.querySelector('.select-role').value = "ROLE_" + text.toUpperCase()
            if (text === 'Admin') {
                document.querySelector('.admin').hidden = false;
            } else {
                document.querySelector('.admin').hidden = true;
            }
        }
    </script>
    <script th:src="@{/registerAssets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>