<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>statisticsManager</title>
    <link rel="stylesheet" th:href="@{/statisticsManagerAssets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
    <link rel="stylesheet" th:href="@{/statisticsManagerAssets/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/statisticsManagerAssets/css/Navbar-Right-Links.css}">
    <link rel="stylesheet" th:href="@{/statisticsManagerAssets/css/styles.css}">
</head>

<body>
    <section class="login-dark">
        <nav class="navbar navbar-light navbar-expand-md bg-dark bg-gradient py-3"
            style="background: rgb(0, 0, 0); color: var(--bs-white); opacity: 0.96">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="/games"
                    style="color: rgba(255, 255, 255, 0.9)"><span
                        style="font-size: 28px; font-family: 'Alfa Slab One', serif">ScoreDEI</span></a><button
                    data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
                    <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-2">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul>
                    <a sec:authorize="isAuthenticated()">
                        <a>Hello, </a>
                        <a sec:authentication="name"></a>
                        <a class="btn btn-light ms-md-2 logout-button" role="button">Logout</a>
                        <form hidden="true" name="logout" th:action="@{/logout}" method="post"></form>
                    </a>
                    <a class="btn btn-light ms-md-2" role="button" th:href="@{/login}"
                        sec:authorize="!isAuthenticated()">Login</a>
                    <a class="btn btn-light ms-md-2" role="button" href="/signup"
                        sec:authorize="!isAuthenticated()">Sign Up</a>
                </div>
            </div>
        </nav>
        <form style="background: rgb(152,138,128);max-width: 100%;min-height: 80%;opacity: 0.96;">
            <div class="container">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Teams</th>
                                <th>Num Games</th>
                                <th>Num Wins</th>
                                <th>Num Draws</th>
                                <th>Num Losses</th>
                                <th>Best Scorer</th>
                            </tr>
                        </thead>
                        <tbody style="--bs-body-color: #212529;color: rgb(255,255,255);">
                            <tr th:each="team : ${teamStatistics}" class="table-row" style="height: 80.5px;">
                                <td>
                                    <img style="max-height: 40px;width: 43px;" th:src="${team.team.logoURL}">
                                    <span th:text="${team.team.teamName}"></span>
                                </td>
                                <td><span style="font-size: 22px;" th:text="${team.numGames}"></span></td>
                                <td><span style="font-size: 22px;" th:text="${team.wins}"></span></td>
                                <td><span style="font-size: 22px;" th:text="${team.draws}"></span></td>
                                <td><span style="font-size: 22px;" th:text="${team.losses}"></span></td>
                                <td><span style="font-size: 22px;" th:text="${team.bestScorer.playerName}"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </section>
    <script>
        document.querySelector(".logout-button").addEventListener("click", () => {
            form = document.forms.logout
            form.submit();
        })
    </script>
    <script th:src="@{/statisticsManagerAssets/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/statisticsManagerAssets/js/clickableTable.js}"></script>
</body>

</html>