<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>UserMainPage</title>
    <link rel="stylesheet" href="userAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="userAssets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="userAssets/css/styles.css">
</head>

<body>
    <section class="login-dark">
        <form method="post" style="color: var(--bs-blue);opacity: 0.95;">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration" style="color: var(--bs-blue);border-color: var(--bs-blue);"><img src="userAssets/img/ball.jpg" style="width: 194px;"></div>
            <div><a th:href="@{/searchGame}" class="btn btn-primary d-block w-100"> Search Game</a></div>
            <div><a th:href="@{/statistics}" class="btn btn-primary d-block w-100"> Statistics</a></div>
        </form>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>