<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ManagePlayers</title>
    <link rel="stylesheet" th:href="@{/managePlayersAssets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/managePlayersAssets/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/managePlayersAssets/css/styles.css}">
</head>

<body>
    <section class="login-dark">
        <nav class="navbar navbar-light navbar-expand-md bg-dark bg-gradient py-3" style="background: rgb(0,0,0);color: var(--bs-white);opacity: 0.96;">
            <div class="container"><a class="navbar-brand d-flex align-items-center" href="#" style="color: rgba(255,255,255,0.9);"><span style="font-size: 28px;font-family: 'Alfa Slab One', serif;">ScoreDEI</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-2">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul><a class="btn btn-light ms-md-2" role="button" href="#">Login</a><a class="btn btn-light ms-md-2" role="button" href="#">Sign Up</a>
                </div>
            </div>
        </nav>
        
<form method="post" style="color: var(--bs-blue);opacity: 0.95;background: rgb(54,53,53);min-width: 900px;height: 587.7px;min-height: 795px;">            <h2 class="visually-hidden">Login Form</h2>
            <div class="row" style="background: #474747;">
                <div class="col text-center"><span style="font-size: 45px;font-family: ABeeZee, sans-serif;color: rgb(255,255,255);">Create Player</span></div>
            </div>
            <div class="illustration" style="color: var(--bs-blue);border-color: var(--bs-blue);"><img th:src="@{/managePlayersAssets/img/ball.jpg}" style="width: 194px;"></div>
            <div class="mb-3"><input class="form-control" type="email" placeholder="Player Name"></div>
            <div class="mb-3"><input class="form-control" type="date"></div>
            <div>
                <div class="dropdown" style="transform: translateY(0px);"><button class="btn btn-outline-secondary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="transform: translateY(80px);background: #ffffff;">Team</button>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">GoalKeeper</a><a class="dropdown-item" href="#">Center Back</a><a class="dropdown-item" href="#">Left Back</a><a class="dropdown-item" href="#">Right Back</a><a class="dropdown-item" href="#">Defensive Midfielder</a><a class="dropdown-item" href="#">Midfielder</a><a class="dropdown-item" href="#">Left Midfielder</a><a class="dropdown-item" href="#">Right Midfielder</a><a class="dropdown-item" href="#">Offensive Midfielder</a><a class="dropdown-item" href="#">Striker</a></div>
                </div>
            </div>
            <div class="mb-3">
                <div class="dropdown"><button class="btn btn-outline-secondary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="transform: translateY(133px);background: #ffffff;">Position</button>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">GoalKeeper</a><a class="dropdown-item" href="#">Center Back</a><a class="dropdown-item" href="#">Left Back</a><a class="dropdown-item" href="#">Right Back</a><a class="dropdown-item" href="#">Defensive Midfielder</a><a class="dropdown-item" href="#">Midfielder</a><a class="dropdown-item" href="#">Left Midfielder</a><a class="dropdown-item" href="#">Right Midfielder</a><a class="dropdown-item" href="#">Offensive Midfielder</a><a class="dropdown-item" href="#">Striker</a></div>
                </div>
            </div>
            <div class="mb-3" style="transform: translateY(157px);"><button class="btn btn-primary d-block w-100" type="submit">Submit</button></div>
        </form>
    </section>
    <script th:src="@{/managePlayersAssets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>