<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>list_teams</title>
    <link rel="stylesheet" th:href="@{/list_teamsAssets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
    <link rel="stylesheet" th:href="@{/list_teamsAssets/css/Login-Form-Dark.css}">
    <link rel="stylesheet" th:href="@{/list_teamsAssets/css/Navbar-Right-Links.css}">
    <link rel="stylesheet" th:href="@{/list_teamsAssets/css/styles.css}">
</head>

<body>
    <section class="login-dark">
        <nav class="navbar navbar-light navbar-expand-md bg-dark bg-gradient py-3"
            style="background: rgb(0, 0, 0); color: var(--bs-white); opacity: 0.96">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="/games"
                    style="color: rgba(255, 255, 255, 0.9)"><span
                    style="font-size: 28px; font-family: 'Alfa Slab One', serif">ScoreDEI</span></a><button
                    data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
                    <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-2">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul>
                    <a sec:authorize="isAuthenticated()">
                        <a>Hello, </a>
                        <a sec:authentication="name"></a>
                        <a class="btn btn-light ms-md-2 logout-button" role="button">Logout</a>
                        <form hidden="true" name="logout" th:action="@{/logout}" method="post"></form>
                    </a>
                    <a class="btn btn-light ms-md-2" role="button" th:href="@{/login}"
                        sec:authorize="!isAuthenticated()">Login</a>
                    <a class="btn btn-light ms-md-2" role="button" href="/signup"
                        sec:authorize="!isAuthenticated()">Sign Up</a>
                </div>
            </div>
        </nav>
        <div class="row" style="min-width: 584px;transform: translateX(20%);">
            <div class="col-md-4" style="text-align: left;">
                <div class="row">
                    <div class="col" style="background: rgba(103,98,98,0);"><span style="font-size: 35px;color: rgb(255,255,255);">Team List</span></div>
                </div>
                <div class="row" style="height: 600px;">
                    <div class="col" style="background: #433c3c;">
                        <table class="table table-striped table-responsive-md" style="color:azure; background:rgb(68, 68, 68)">
                            <thead>
                              <tr>
                                <th>Logo URL</th>
                                <th>Team Name</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr th:each="team : ${listTeams}">
                                <td th:text="${team.teamName}"></td>
                                <td th:text="${team.logoURL}"></td>
                              </tr>
                            </tbody>
                          </table>
                          <a th:href="@{/fetchData}" class="btn btn-primary btn-sm mb-3">Fetch Data from API
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="list_teamsAssets/bootstrap/js/bootstrap.min.js"></script>
    <script src="list_teamsAssets/js/clickableTable.js"></script>
</body>

</html>